html {
  background-image: url(/media/new_1.jpg);
  color: white;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.my_photo {
  width: 220px;
  margin-left: 500px;
  margin-top: -600px;
}
ul {
  text-align: justify;
}
