html{

    background-color:rgba(119, 136, 153, 0.329);
    background-image: url(/media/new_1.jpg);
}
h1{
    text-align: center;
    color: white;
}
.tab{
border-style: groove;
border-width: 2px;
background-color: lightblue;
margin-left: 200px;
width: 950px;
height: 350px;
}
td{
    text-align: center;
}
