html {
  background-image: url(/media/mountain.jpg);
  background-attachment: fixed;
  font-family: "Courier New", Courier, monospace;
  color: rgb(18, 18, 19);
  background-repeat: no-repeat;
  background-size: cover;
}
.bas {
  text-align: center;
  color: black;
  background-color:lightblue;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: -7px;
}
.button {
  background-color: rgb(100, 87, 224);
  width: 60px;
  height: 25px;
}
.inp3{
text-align: right;
margin-left: 22px;

}
textarea{
margin-left: 116px;
margin-top: -18px;
}
.inp2{
  margin-left: 4px;
}
.inp4{
  margin-left: 13px; ;
}

label{
font-size: large;
color: aliceblue;

}
h2{
  color: aliceblue;
}
.labl2{
  margin-left: 7px;
}
.labl3{
  margin-left: 20px;
}
.labl4{
  margin-left: 18px;
}
